{%extends 'main/base.html'%}

{% block content %}


<div class="main-content">
    <div class="inner-content">
        <h1>Востановление пароля</h1>
        <form method='post'>
            {% csrf_token %}
            <div class='form-error'>{{ form.non_field_errors }}</div>
            {% for f in form %}
                <p><label class='form-label' for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
                <div class="form-error">{{f.errors}}</div>
            {% endfor %}

            <p><button class='log_button' type="submit">Сбросить пароль по почте</button></p>
        </form>
    </div>
</div>

{% endblock %}