<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylemain.css' %}">
</head>
<body>
    <header>
        <img id="img1" src={% static 'images/logo_white.svg' %} style='float: left; margin-left: 30px'>
        <nav class="parent_navigation" style='margin-left: 530px;'>
            <ul class="navigation">
                <li><a class='log_ref' style='color: white; margin: 0px; width: 200px; border-radius:20px; background-color: rgba(255,255,255,0.2)'href="{% url 'index' %}">Главная страница</a></li>
                <li><a class='log_ref' style='color: white; margin: 0px; width: 200px; border-radius:20px; background-color: rgba(255,255,255,0.2)' href="{% url 'schedule' %}">Расписание</a></li>
                <li><a class='log_ref' style='color: white; margin: 0px; width: 200px; border-radius:20px; background-color: rgba(255,255,255,0.2)'href="{% url 'map' %}">Карта</a></li>
                <li><a class='log_ref' style='color: white; margin: 0px; width: 200px; border-radius:20px; background-color: rgba(255,255,255,0.2)' href="{% url 'news' %}">Новости</a></li>
            </ul>
        </nav>
        <div class='reg_navigation' style='float: right; margin-top: -26px; margin-right: 30px;'>
            {% if user.is_authenticated %}
            <li><a href= {% url 'users:profile' %}>{{ user.username }}</a> | <a href= {% url 'users:logout' %}>выйти</a></li>
            {%else%}
            <a href="{% url 'users:register' %}">Регистрация</a> | <a href="{% url 'users:login' %}">Вход</a>
            {%endif%}
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
    </footer>
</body>
</html>


