
{% extends 'main/base.html' %}


{% block title %}Home{% endblock %}

{% block content %}
{% load static %}
<body style=>
    <div class="main-content" >
        <img src={% static "images/artifact.gif"%} width="480" height="480" style="" frameBorder="0" class="giphy-embed" allowFullScreen></img>
        <p class="inner-content" style='font-size: 50px; font-family: verdana; background: #417db7; border-radius: 40px; padding-top:20px; padding-bottom: 20px; color: white'>Добро пожаловать на сайт для студентов РУДН.</p>
    </div>
</body>
{% endblock %}


