{% extends 'main/base.html' %}

{% block title %}Schedule{% endblock %}

{% block content %}
{% load static %}
<div class="main-content">
<div style="font-size: 20px; font-family: montserrat;">
<form method="post" action="{% url 'schedule' %}">
    {% csrf_token %}
    <div>
        <label for="group-select">Номер группы:</label>
        <select id="group-select" name="group">
            <option value="">Выберите группу</option>
            {% for group in w %}
                <option value="{{ group.pk }}">{{ group.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="day-select">День недели:</label>
        <select id="day-select" name="day">
            <option value="">Выберите день</option>
            <option value="monday">Понедельник</option>
            <option value="tuesday">Вторник</option>
            <option value="wednesday">Среда</option>
            <option value="thursday">Четверг</option>
            <option value="friday">Пятница</option>
            <option value="saturday">Суббота</option>
        </select>
    </div>
    <div>
        <button class='log_button' type="submit">Посмотреть расписание</button>
    </div>
</form>
</div>
</div>

{% if schedule %}
    <h2 style='margin-left: 670px;'>Расписание группы {{ group }} на {{ day }}</h2>
    <ul style='margin-left:700px;'>
        {% for lesson in schedule %}
            <li style='font-size: 20px;'>{{ lesson.time }} - {{ lesson.subject }} {{ lesson.room }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}
